<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap and jQuery -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.4/css/all.min.css}"/>

    <title>Login</title>
</head>

<body>
<!-- create navigation bar (header) -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" th:href="@{/}">
                        <img src="/img/logo-library.jpg" alt="SMART-library System" class="logo img-fluid navbar-logo">
                        <span class="text-light text-glow">SMART-library Login System</span>
                    </a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/registration}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="card border-1 rounded-bottom col-md-5">

            <!-- Display error messages based on login status -->
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid email or password.
            </div>
            <div th:if="${param.logout}" class="alert alert-info">
                You have been logged out.
            </div>
            <div th:if="${param.resetSuccess}" class="alert alert-info">
                You successfully reset your password.
            </div>

            <div class="card-header border-1 rounded-bottom">
                <h2 class="text-center">Login Form</h2>
            </div>

            <div class="card-body">
                <!-- Login form -->
                <form class="form-horizontal" role="form" th:action="@{/login}" method="post">

                    <div class="form-group mb-3">
                        <label for="username" class="control-label"><strong>Email:</strong></label>
                        <div class="input-group align-items-center">
                            <input type="email"
                                   id="username"
                                   name="username"
                                   class="form-control custom-input"
                                   placeholder="Enter email"
                                   autofocus="autofocus"
                            />
                            <div class="input-group-text">
                                <i class="fas fa-envelope fa-lg"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="password" class="control-label"><strong>Password:</strong></label>
                        <div class="input-group align-items-center">
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control custom-input"
                                   placeholder="Enter password"
                                   autofocus="autofocus"
                            />
                            <div class="input-group-text">
                                <i class="fas fa-lock fa-lg"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Login button -->
                    <div class="form-group mb-3 mt-3">
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                    </div>

                    <div class="row">
                        <!-- Links for new users and those who forgot their password -->
                        <div class="col-md-12">
                            New user? <a href="/registration">Register</a>
                        </div>
                        <div class="col-md-12">
                            Forgot password? <a href="/forgot-password">Reset password</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>

</body>
</html>