<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap and jQuery -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.4/css/all.min.css}"/>

    <title>Registration</title>
</head>

<body>
<!-- create navigation bar (header) -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" th:href="@{/}">
                        <img src="/img/logo-library.jpg" alt="SMART-library System" class="logo img-fluid navbar-logo">
                        <span class="text-light text-glow">SMART-library Login System</span>
                    </a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/registration}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="card border-1 rounded-bottom col-md-5">

            <!-- Display a success message if registration is successful -->
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You've successfully registered!
                </div>
            </div>

            <div th:if="${param.success}">
                <div class="alert alert-info" role="alert">
                    <a href="/login" class="alert-link">You can go to the login page!</a>
                </div>
            </div>

            <div class="card-header border-1 rounded-bottom">
                <h2 class="text-center">Registration Form</h2>
            </div>

            <div class="card-body">
                <!-- Registration form -->
                <form th:action="@{/registration}" th:object="${user}" method="post">

                    <p class="error-message"
                       th:if="${#fields.hasGlobalErrors()}"
                       th:each="error : ${#fields.errors('global')}"
                       th:text="${error}">Validation error</p>

                    <!-- Last Name input field with error handling -->
                    <div class="form-group mb-3">
                        <label for="firstName" class="control-label"><strong>First Name:</strong></label>
                        <div class="input-group align-items-center">
                            <input type="text"
                                   id="firstName"
                                   name="firstName"
                                   class="form-control custom-input"
                                   placeholder="Enter first name"
                                   th:field="*{firstName}"
                                   autofocus="autofocus"
                            />
                            <div class="input-group-text">
                                <i class="fas fa-user fa-lg"></i>
                            </div>
                        </div>
                        <p th:if="${#fields.hasErrors('firstName')}" class="text-danger">
                            <span th:errors="*{firstName}"></span>
                        </p>
                    </div>

                    <!-- Last Name input field with error handling -->
                    <div class="form-group mb-3">
                        <label for="lastName" class="control-label"><strong>Last Name:</strong></label>
                        <div class="input-group align-items-center">
                            <input type="text"
                                   id="lastName"
                                   name="lastName"
                                   class="form-control custom-input"
                                   placeholder="Enter last name"
                                   th:field="*{lastName}"
                                   autofocus="autofocus"
                            />
                            <div class="input-group-text">
                                <i class="fas fa-user fa-lg"></i>
                            </div>
                        </div>
                        <p th:if="${#fields.hasErrors('lastName')}" class="text-danger">
                            <span th:errors="*{lastName}"></span>
                        </p>
                    </div>

                    <!-- Birth Date input field with error handling -->
                    <div class="form-group mb-3">
                        <label for="birthDate" class="control-label"><strong>Birth Date:</strong></label>
                        <div class="input-group align-items-center">
                            <input type="text"
                                   id="birthDate"
                                   name="birthDate"
                                   class="form-control custom-input"
                                   placeholder="DD-MM-YYYY"
                                   th:field="*{birthDate}"
                                   autofocus="autofocus"
                            />
                            <div class="input-group-text">
                                <i class="fas fa-calendar fa-lg"></i>
                            </div>
                        </div>
                        <p th:if="${#fields.hasErrors('birthDate')}" class="text-danger">
                            <span th:errors="*{birthDate}"></span>
                        </p>
                    </div>

                    <!-- Phone input field with error handling -->
                    <div class="form-group mb-3">
                        <label for="phone" class="control-label"><strong>Phone:</strong></label>
                        <div class="input-group align-items-center">
                            <input type="tel"
                                   id="phone"
                                   name="phone"
                                   class="form-control custom-input"
                                   placeholder="+38 (___) ___-__-__"
                                   data-inputmask="'mask': '+38 (999) 999-99-99'"
                                   th:field="*{phone}"
                                   autofocus="autofocus"
                            />
                            <div class="input-group-text">
                                <i class="fas fa-phone fa-lg"></i>
                            </div>
                        </div>
                        <p th:if="${#fields.hasErrors('phone')}" class="text-danger">
                            <span th:errors="*{phone}"></span>
                        </p>
                    </div>

                    <!-- Email input field with error handling -->
                    <div class="form-group mb-3">
                        <label for="email" class="control-label"><strong>Email:</strong></label>
                        <div class="input-group align-items-center">
                            <input type="email"
                                   id="email"
                                   name="email"
                                   class="form-control custom-input"
                                   placeholder="Enter email"
                                   th:field="*{email}"
                                   autofocus="autofocus"
                            />
                            <div class="input-group-text">
                                <i class="fas fa-envelope fa-lg"></i>
                            </div>
                        </div>
                        <p th:if="${#fields.hasErrors('email')}" class="text-danger">
                            <span th:errors="*{email}"></span>
                        </p>
                    </div>

                    <!-- Confirm Email input field with error handling -->
                    <div class="form-group mb-3">
                        <label for="confirmEmail" class="control-label"><strong>Confirm Email:</strong></label>
                        <div class="input-group align-items-center">
                            <input type="email"
                                   id="confirmEmail"
                                   name="confirmEmail"
                                   class="form-control custom-input"
                                   placeholder="Retype email"
                                   th:field="*{confirmEmail}"
                                   autofocus="autofocus"
                            />
                            <div class="input-group-text">
                                <i class="fas fa-envelope fa-lg"></i>
                            </div>
                        </div>
                        <p th:if="${#fields.hasErrors('confirmEmail')}" class="text-danger">
                            <span th:errors="*{confirmEmail}"></span>
                        </p>
                    </div>

                    <!-- Password input field with error handling -->
                    <div class="form-group mb-3">
                        <label for="password" class="control-label"><strong>Password:</strong></label>
                        <div class="input-group align-items-center">
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control custom-input"
                                   placeholder="Enter password"
                                   th:field="*{password}"
                                   autofocus="autofocus"
                            />
                            <div class="input-group-text">
                                <i class="fas fa-lock fa-lg"></i>
                            </div>
                        </div>
                        <p th:if="${#fields.hasErrors('password')}" class="text-danger">
                            <span th:errors="*{password}"></span>
                        </p>
                    </div>

                    <!-- Confirm Password input field with error handling -->
                    <div class="form-group mb-3">
                        <label for="confirmPassword" class="control-label"><strong>Confirm Password:</strong></label>
                        <div class="input-group align-items-center">
                            <input type="password"
                                   id="confirmPassword"
                                   name="confirmPassword"
                                   class="form-control custom-input"
                                   placeholder="Retype password"
                                   th:field="*{confirmPassword}"
                                   autofocus="autofocus"
                            />
                            <div class="input-group-text">
                                <i class="fas fa-lock fa-lg"></i>
                            </div>
                        </div>
                        <p th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger">
                            <span th:errors="*{confirmPassword}"></span>
                        </p>
                    </div>

                    <!-- Checkbox for agreeing to terms with error handling -->
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('checkbox')}? 'has-error':''">
                        <label for="checkbox"></label>
                        <input id="checkbox"
                               type="checkbox"
                               th:field="*{checkbox}"/>  

                        <label class="control-label" for="checkbox">
                            I agree with the <a href="#" data-toggle="modal" data-target="#termsModal">terms and
                            conditions</a> for Registration.
                        </label>

                        <p th:if="${#fields.hasErrors('checkbox')}" class="error-message">
                            You must agree to the terms and conditions.
                        </p>
                    </div>

                    <!-- Register button -->
                    <div class="form-group mb-3 mt-3">
                        <button type="submit" class="btn btn-success btn-block">Register</button>
                    </div>

                    <div class="row">
                        <!-- Links for already registered users and password reset -->
                        <div class="col-md-12">
                            Already registered? <a th:href="@{/login}">Login</a>
                        </div>
                        <div class="col-md-12">
                            Forgot password? <a th:href="@{/forgot-password}">Reset password</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Include JS library -->
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery.inputmask/5.0.8/jquery.inputmask.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>

<!-- Script to initialize Inputmask plugin -->
<script>
    $(document).ready(function () {
        $('#phone').inputmask({
            mask: '+38 (999) 999-99-99',
            placeholder: '_'
        });
    });

    $(document).ready(function () {
        $('#birthDate').inputmask('datetime', {
            inputFormat: 'dd-mm-yyyy',
            placeholder: 'DD-MM-YYYY',
            min: '01-01-1900',
            max: '31-12-2100',
            clearIncomplete: true
        });
    });

</script>

</body>
</html>