<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Assign Role</title>
    <link rel="stylesheet" th:href="@{/resources/static/css/styles.css}"/>
</head>

<body>
<h1>Assign a role to a user</h1>

<!-- Check if usersWithoutRole is empty -->
<div th:if="${usersWithoutRole.isEmpty()}">
    <p style="color: green;">No users without role found.</p>
</div>

<!-- Check if usersWithoutRole is not empty -->
<div th:if="${not usersWithoutRole.isEmpty()}">
    <p style="color: red;">Found <span th:text="${usersWithoutRoleCount}"></span> user without role.</p>

    <!-- Display error message if selectedRoleId is null -->
    <div th:if="${selectedRoleId == null}" th:style="${'display: block;'}" id="hideMessage">
        <p>Please select a role for the change.</p>
    </div>

    <!-- Dropdown menu for selecting a role -->
    <form th:action="@{/library/roles/assign/all}" method="post" style="display: flex; align-items: center;">

        <label style="margin-right: 40px;">
            <select name="selectedRoleId" class="form-control" id="selectedRoleId"
                    th:onchange="| document.getElementById('hideMessage').style.display = (this.value == '') ? 'block' : 'none'; |">
                <option value="" disabled selected>Select role</option>
                <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.roleName}"></option>
            </select>
        </label>
        <button type="submit" id="changeRoleBtn" class="btn btn-primary" disabled>Assign to All</button>
    </form>

    <script>
        // Get references to the DOM elements
        const selectedRoleIdInput = document.getElementById('selectedRoleId'); // Role selection element
        const changeRoleBtn = document.getElementById('changeRoleBtn'); // "Change Role" button

        // Add an event listener for the "change" event on the role selection element
        selectedRoleIdInput.addEventListener('change', () => {
            // Set the disabled state of the "Change Role" button based on the selected role
            changeRoleBtn.disabled = selectedRoleIdInput.value === '';
        });
    </script>

    <br>

    <!-- Table for displaying usersWithoutRole -->
    <table th:if="${usersWithoutRole.size() > 0}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Membership</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the list of usersWithoutRole -->
        <tr th:each="user : ${usersWithoutRole}">
            <td th:text="${user.id}"/>
            <td th:text="${user.firstName + ' ' + user.lastName}"/>
            <td th:text="${user.getAge()}"/>
            <td th:text="${user.getTerm()}"/>
            <!-- Check if userRole is null  -->
            <td th:if="${user.userRole == null}" style="color: red;" th:text="ROLE_NONE"></td>
            <!-- Display the userRole -->
            <td th:unless="${user.userRole == null}" th:text="${user.userRole.roleName}"></td>
            <td>
                <form th:action="@{/library/roles/assign}" method="post">
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <div th:each="role : ${allRoles}">
                        <button type="submit" name="roleId" th:value="${role.id}">
                            <span th:text="${role.roleName}"></span>
                        </button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<br>

<!-- Button to go back to the role list -->
<form th:action="@{/library/roles/list}" method="get">
    <button type="submit">Go Back to Role List</button>
</form>

</body>
</html>