<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Success Page</title>
    <link rel="stylesheet" th:href="@{/resources/static/css/styles.css}" />
</head>

<body>
<h1>Success!</h1>

<!-- Display success message based on the action -->
<p th:text="${successMessage}"></p>

<br />
<br />

<!-- Button to go back to the role list -->
<form th:action="@{/library/roles/list}" method="get">
    <button type="submit">Go Back to Role List</button>
</form>

<br />
<br />

</body>
</html>