<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap and jQuery -->
    <link rel="stylesheet" type="text/css" th:href="@{'/css/main.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/webjars/bootstrap/5.2.3/css/bootstrap.min.css'}"/>

    <title>Paginated listing</title>
</head>

<body>
<!-- Navbar with background image -->
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-image: url('/img/header_background.jpg'); background-size: cover; color: #fff; padding: 5px; text-align: center;">
    <div class="container">
        <a class="navbar-brand text-glow" style="font-style: italic; color: #d7e6f5;" href="#">SMART-library Users Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="font-weight: bold; color: #fc933c;" th:href="@{/employees}">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: bold; color: #fc933c;"
                       th:href="@{/departments}">Departments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: bold; color: #fc933c;" th:href="@{/positions}">Positions</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <!-- Page header -->
    <h2 class="mt-4 mb-4">Library users Paginated Listing</h2>

    <!-- Error and success messages -->
    <div id="errorMessage" class="alert alert-danger" style="text-align: center; display:none;"></div>
    <div id="successMessage" class="alert alert-success" style="text-align: center; display:none;"></div>

    <!-- All Employees section -->
    <div class="border-2 bg-light rounded-bottom">
        <div class="border-dark text-bg-light rounded-top">
            <h5 class="p-3 m-0">All Users</h5>
        </div>

        <div class="border-1 bg-white pt-3 rounded-bottom">
            <!-- Table -->
            <table class="table table-bordered table-hover">
                <!-- Table header -->
                <thead class="table-dark">
                <tr class="border-top align-middle" style="height: 50px; text-align: center">

                    <!-- ID column -->
                    <th>
                        <a th:href="@{'/library/users/page/' + ${currentPage}(sortField='id', sortDirection=${reverseSortDirection})}">ID
                            <span th:if="${sortField == 'id'}" class="page-item" style="color: #fc933c;" th:text="${sortDirection == 'ASC' ? ' ▲' : ' ▼'}"></span>
                        </a>
                    </th>

                    <!-- First Name column -->
                    <th>
                        <a th:href="@{'/library/users/page/' + ${currentPage}(sortField='firstName', sortDirection=${reverseSortDirection})}">First Name
                            <span th:if="${sortField == 'firstName'}" class="page-item" style="color: #fc933c;" th:text="${sortDirection == 'ASC' ? ' ▲' : ' ▼'}"></span>
                        </a>
                    </th>

                    <!-- Last Name column -->
                    <th>
                        <a th:href="@{'/library/users/page/' + ${currentPage}(sortField='lastName', sortDirection=${reverseSortDirection})}">Last Name
                            <span th:if="${sortField == 'lastName'}" class="page-item" style="color: #fc933c;" th:text="${sortDirection == 'ASC' ? ' ▲' : ' ▼'}"></span>
                        </a>
                    </th>

                    <!-- Email column -->
                    <th>
                        <a th:href="@{'/library/users/page/' + ${currentPage}(sortField='email', sortDirection=${reverseSortDirection})}">Email
                            <span th:if="${sortField == 'email'}" class="page-item" style="color: #fc933c;" th:text="${sortDirection == 'ASC' ? ' ▲' : ' ▼'}"></span>
                        </a>
                    </th>

                    <!-- Age column -->
                    <th>
                        <a th:href="@{'/library/users/page/' + ${currentPage}(sortField='age', sortDirection=${reverseSortDirection})}">Age
                            <span th:if="${sortField == 'age'}" class="page-item" style="color: #fc933c;" th:text="${reverseSortDirection == 'ASC' ? ' ▲' : ' ▼'}"></span>
                        </a>
                    </th>

                    <!-- Membership column -->
                    <th>
                        <a th:href="@{'/library/users/page/' + ${currentPage}(sortField='term', sortDirection=${reverseSortDirection})}">Membership
                            <span th:if="${sortField == 'term'}" class="page-item" style="color: #fc933c;" th:text="${reverseSortDirection == 'ASC' ? ' ▲' : ' ▼'}"></span>
                        </a>
                    </th>

                    <!-- Actions column -->
                    <th>Actions</th>
                </tr>
                </thead>

                <!-- Table body -->
                <tbody>
                <tr th:each="user : ${listUsers}">
                    <td th:text="${user.id}" style="text-align: center;"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.getAge()}" style="text-align: center;"></td>
                    <td th:text="${user.getTerm()}" style="text-align: center;"></td>
                    <td style="text-align: center;">
                        <a th:href="@{'/library/users/list/' + ${user.id}}" class="btn btn-primary">Details</a>
                        <a th:href="@{'/library/users/list/' + ${user.id} + '/edit'}" class="btn btn-primary">Edit</a>
                        <a th:href="@{'/library/users/list/' + ${user.id} + '/delete'}" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this reader?')">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Pagination -->
            <div th:if="${totalPages > 1}">
                <div class="row col-sm-10 align-items-center my-3">
                    <!-- Total Rows -->
                    <div class="col-sm-2 text-muted fw-light me-sm-3">
                        Total Rows: [[${totalItems}]]
                    </div>

                    <div class="col-sm-9">
                        <ul class="pagination justify-content-center">
                            <!-- First page -->
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                <a class="page-link" th:if="${currentPage != 1}" th:href="@{'/library/users/page/1?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">First</a>
                            </li>

                            <!-- Previous page -->
                            <li class="page-item" th:unless="${currentPage == 1}">
                                <a class="page-link" th:href="@{'/library/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Previous</a>
                            </li>

                            <!-- Page numbers -->
                            <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <li class="page-item" th:classappend="${currentPage == i} ? 'active'">
                                    <a class="page-link" th:href="@{'/library/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <!-- Next page -->
                            <li class="page-item" th:unless="${currentPage == totalPages}">
                                <a class="page-link" th:href="@{'/library/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                            </li>

                            <!-- Last page -->
                            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                <a class="page-link" th:if="${currentPage != totalPages}" th:href="@{'/library/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>


<script th:inline="javascript">
    $(function () {
        <!-- Cache jQuery selectors -->
        const $pagination = $('.pagination');
        const $table = $('.table');

        <!-- Function to update the table and pagination -->
        function updateTableAndPagination(data) {
            // Updates the table.
            $table.html($(data).find('.table').html());
            // Updates the pagination.
            $pagination.html($(data).find('.pagination').html());

            // Sets the active class for the current page in the pagination.
            const currentPage = $(data).find('.pagination .page-item.active').find('a').attr('href');
            $pagination.find('.page-item').removeClass('active');
            $pagination.find('.page-item a[href="' + currentPage + '"]').parent().addClass('active');
        }

        <!-- Pagination click handler -->
        $pagination.on('click', '.page-link', function (e) {
            e.preventDefault();
            const url = $(this).attr('href');

            // AJAX request to get new data.
            $.get(url, function (data) {
                updateTableAndPagination(data);
            });
        });

        <!-- Table header click handler -->
        $table.on('click', 'th a', function (e) {
            e.preventDefault();
            const url = $(this).attr('href');

            // AJAX request to sort the table.
            $.get(url, function (data) {
                updateTableAndPagination(data);
            });
        });

        <!-- Set the active class for the current page -->
        const currentPage = $pagination.find('.page-item.active').find('a').attr('href');
        $pagination.find('.page-item a[href="' + currentPage + '"]').parent().addClass('active');
    });
</script>

</body>
</html>