<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" th:href="@{/resources/static/css/styles.css}"/>
</head>

<body>
<h1
        th:text="${'Edit Reader: ' + updatedReader.firstName + ' ' + updatedReader.lastName}">

</h1>

<br>

<!-- Display form for editing user -->
<form th:object="${updatedReader}" th:action="@{/library/users/list/{id}/edit(id=${updatedReader.id})}" method="post" class="edit-user-form">

    <!-- First Name -->
    <label for="firstName"><strong>First Name:</strong></label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required><br>
    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red;"></div>

    <br>

    <!-- Last Name -->
    <label for="lastName"><strong>Last Name:</strong></label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required><br>
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red;"></div>

    <br>

    <!-- Birth Date -->
    <label for="birthDate"><strong>Birth Date:</strong></label>
    <input type="date" id="birthDate" name="birthDate" th:value="${updatedReader.birthDate}" required><br>
    <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" style="color: red;"></div>

    <br>

    <!-- Phone -->
    <label for="phone"><strong>Phone:</strong></label>
    <input type="tel" id="phone" name="phone" th:field="*{phone}" required placeholder="+(__)"
           data-inputmask="'mask': '+99 (999) 999-99-99'"><br>
    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red;"></div>

    <!-- Script for phone number mask -->
    <script th:inline="javascript">
        $(document).ready(function () {
            // Apply input mask to the phone input field
            $('#phone').inputmask();
        });
    </script>

    <br>

    <!-- Email -->
    <label for="email"><strong>Email:</strong></label>
    <input type="email" id="email" name="email" th:field="*{email}" required><br>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>

    <br>

    <!-- Password -->
    <label for="password"><strong>Password:</strong></label>
    <input type="password" id="password" name="password" th:value="${updatedReader.password}" required><br>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>

    <br>

    <!-- Confirm Password -->
    <label for="confirmPassword" id="confirmPasswordLabel" style="display:none;"><strong>Confirm Password:</strong></label>
    <input type="password" id="confirmPassword" name="confirmPassword" readonly style="display:none;">
    <div id="passwordMatchMessage" style="display:none;"></div>

    <!-- JavaScript to interact with password and confirm password: -->
    <script>
        // Get the password input, confirm password input, labels, and message elements
        const passwordInput = document.getElementById("password");
        const confirmPasswordInput = document.getElementById("confirmPassword");
        const confirmPasswordLabel = document.getElementById("confirmPasswordLabel");
        const passwordMatchMessage = document.getElementById("passwordMatchMessage");

        // Function to check if passwords match
        function checkPasswordMatch() {
            const match = passwordInput.value === confirmPasswordInput.value;
            // Display a message indicating whether the passwords match
            passwordMatchMessage.innerHTML = match ? "Passwords match!" : "Passwords do not match. Please re-enter the password.";
            // Set the color of the message based on the match status
            passwordMatchMessage.style.color = match ? "green" : "red";
            // Display the message element
            passwordMatchMessage.style.display = "block";
        }

        // Function to initialize the page
        function initialize() {
            // Set the initial value of the confirm password input to match the password input
            confirmPasswordInput.value = passwordInput.value;
            // Allow changes to the confirm password input
            confirmPasswordInput.removeAttribute("readonly");
            // Hide the password match message initially
            passwordMatchMessage.style.display = "none";
        }

        // Function to handle input on the password input
        function onPasswordInput() {
            // If passwords don't match, clear the confirm password input and show it
            if (passwordInput.value !== confirmPasswordInput.value) {
                confirmPasswordInput.value = "";
                confirmPasswordInput.style.display = "block";
                // Ensure the label is visible
                confirmPasswordLabel.style.display = "block";
            }
        }

        // Initialize the page
        initialize();

        // Add event listeners for input events
        passwordInput.addEventListener("input", onPasswordInput);
        confirmPasswordInput.addEventListener("input", checkPasswordMatch);
    </script>

    <br>
    <br>

    <input type="submit" class="button" value="Update Reader"
           data-toggle="tooltip" data-placement="right"
           title="Caution! Make changes to reader data carefully.">

</form>

<br>
<br>

</body>
</html>
