<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
    <link rel="stylesheet" th:href="@{/resources/static/css/styles.css}"/>
</head>
<body>
<h1>Create New Reader</h1>

<!-- Form for adding a new user -->
<form th:action="@{/library/users/create}" th:object="${createdUser}" method="post" class="create-user-form">

    <!-- First Name -->
    <label for="firstName"><strong>First Name:</strong></label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required><br>
    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red;"></div>

    <br>

    <!-- Last Name -->
    <label for="lastName"><strong>Last Name:</strong></label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required><br>
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red;"></div>

    <br>

    <!-- Birth Date -->
    <label for="birthDate"><strong>Birth Date:</strong></label>
    <input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}" required><br>
    <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" style="color: red;"></div>

    <br>

    <!-- Phone -->
    <label for="phone"><strong>Phone:</strong></label>
    <input type="tel" id="phone" name="phone" th:field="*{phone}" required placeholder="+__ (___) ___-__-__" data-inputmask="'mask': '+99 (999) 999-99-99'"><br>
    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red;"></div>


    <!-- Script for phone number mask -->
    <script>
        $(document).ready(function() {
            // Apply input mask to the phone input field
            $('#phone').inputmask();
        });
    </script>

    <br>

    <!-- Email -->
    <label for="email"><strong>Email:</strong></label>
    <input type="email" id="email" name="email" th:field="*{email}" required><br>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>

    <br>

    <!-- Password -->
    <label for="password"><strong>Password:</strong></label>
    <input type="password" id="password" name="password" th:field="*{password}" required><br>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>

    <br>

    <!-- Confirm Password -->
    <label for="confirmPassword" id="confirmPasswordLabel" style="display:none;"><strong>Confirm
        Password:</strong></label>
    <input type="password" id="confirmPassword" name="confirmPassword" readonly style="display:none;">
    <div id="passwordMatchMessage" style="display:none;"></div>

    <!-- JavaScript to interact with password and confirm password: -->
    <script>
        const passwordInput = document.getElementById("password");
        const confirmPasswordInput = document.getElementById("confirmPassword");
        const confirmPasswordLabel = document.getElementById("confirmPasswordLabel");
        const passwordMatchMessage = document.getElementById("passwordMatchMessage");

        // Function to check password match
        function checkPasswordMatch() {
            confirmPasswordInput.style.display = "block";
            confirmPasswordLabel.style.display = "block";
            confirmPasswordInput.removeAttribute("readonly"); // Remove readonly attribute

            // Compare the value of password and confirm password
            if (passwordInput.value === confirmPasswordInput.value) {
                passwordMatchMessage.innerHTML = "Passwords match!";
                passwordMatchMessage.style.color = "green";
            } else {
                passwordMatchMessage.innerHTML = "Passwords do not match. Please re-enter the password.";
                passwordMatchMessage.style.color = "red";
            }
            passwordMatchMessage.style.display = "block";
        }

        // Password entry event
        passwordInput.addEventListener("input", checkPasswordMatch);

        // Confirm Password entry event
        confirmPasswordInput.addEventListener("input", checkPasswordMatch);
    </script>

    <br>
    <br>

    <input type="submit" class="button" value="Create User">
</form>


</body>
</html>