h1 {
    color: #0c11ea;
}

body {
    background-color: #efefef;
}

.navbar-brand {
    height: 1cm;
    max-height: 1cm;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    max-width: 6%;
    height: auto;
    margin-right: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.text-glow {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
}

.custom-input::placeholder {
    color: #add8e6;
}

.custom-input:focus,
.custom-input:not(:placeholder-shown) {
    background-color: #e6f7ff;
    border-color: #66b3ff;
}

.error-message {
    color: #f10e09;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.form-control,
.input-group-text {
    height: 2.5rem;
}

.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-item {
    display: inline-block;
    margin: 0 1px;
}

.page-link {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    color: #333;
}

.page-link:hover {
    background-color: #eee;
}

.page-item.active .page-link {
    background-color: #fc933c;
    color: #fff;
}

.page-item.active .page-link:hover {
    background-color: #fc933c;
}

.page-item.disabled .page-link {
    pointer-events: none;
    opacity: 0.5;
}